<style>
  nav.navbar,
  footer {
    display: none !important;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 !important;
    height: 100vh;
  }

  nav ul li:has(a.active),
  nav ul li:hover {
    background-color: #242424;
    cursor: pointer;
  }

  .sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
  }

  .sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 0.5rem 1rem;
    background-color: #555;
    margin-bottom: 10px;
  }


  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
  }

  .main-content {
    flex: 1 1 0;
    padding: 1rem;
  }

  .card {
    overflow-y: auto;
    height: 95vh;
  }

  .main-content h1 {
    margin-top: 0;
  }

  .main-content p {
    color: #555;
  }

  .main-content .card.bg-danger h6>*,
  .main-content .card.bg-danger p,
  .main-content .card.bg-warning h6>*,
  .main-content .card.bg-warning p,
  .main-content .card.bg-success h6>*,
  .main-content .card.bg-success p {
    color: #fff !important;
  }

  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
    }

    .sidebar {
      width: 100%;
    }
  }
</style>

<div class="container">
  <div class="sidebar">
    <h4 class="text-center my-3">Panel de Administración</h4>
    <div class="d-flex justify-content-between text-center align-items-center flex-column">
      <img src="https://www.w3schools.com/w3css/img_avatar2.png" class="img-fluid rounded-circle w-25">
      <h5 class="my-3" data-username>Nombre de usuario</h5>
      <a class="btn btn-danger mb-4" data-logout>Cerrar Sesión</a>
    </div>
    <nav>
      <ul>
        <li><a href="?view=Admin">Inicio</a></li>
        <li><a href="?view=Admin-Post">Gestionar Post</a></li>
        <li><a href="?view=Admin-Usuarios">Gestionar Usuarios</a></li>
        <li><a href="?view=Admin-Comentarios">Gestionar Comentarios</a></li>
        <li><a href="?view=Inicio">Volver al sitio</a></li>
      </ul>
    </nav>
  </div>
  <div class="main-content">
    <div class="card">
      <div class="card-body">
        <h1>Gestionar los comentarios</h1>
        <p>Lista de comentarios por post
        <div class="d-flex justify-content-between text-center align-items-center">
          <h5>Estados: </h5>
          <div class="bg-danger text-white w-25 px-2 py-1">Rechazado</div>
          <div class="bg-warning text-white w-25 px-2 py-1">Pendiente</div>
          <div class="bg-success text-white w-25 px-2 py-1">Aprobado</div>
        </div>
        </p>
        <div class="accordion accordion-borderless my-3" id="ListasPostComentarios"></div>
        <nav class="my-4 d-flex justify-content-center">
          <ul class="pagination pagination-circle" id="pagination"></ul>
        </nav>
      </div>
    </div>
  </div>