<style>
  nav.navbar,
  footer {
    display: none !important;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 !important;
    height: 100vh;
  }

  .sidebar nav ul li:has(a.active),
  .sidebar nav ul li:hover {
    background-color: #242424;
    cursor: pointer;
  }

  .sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
  }

  .sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 0.5rem 1rem;
    background-color: #555;
    margin-bottom: 10px;
  }


  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
  }

  .main-content {
    flex: 1;
    padding: 1rem;
  }

  .card.content {
    overflow-y: auto;
    height: 95vh;
  }

  .main-content h1 {
    margin-top: 0;
  }

  .main-content p {
    color: #555;
  }

  #app .card .card-body div.form-group .error {
    background-color: #e0411d;
    color: #fff !important;
    padding: 0.1rem 1rem;
    margin-top: -1.1rem;
    font-size: 0.8rem;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .main-content {
      padding: 0;
    }

    .sidebar {
      width: 100%;
      position: absolute;
      z-index: 10000;
    }
  }
</style>

<div class="container">
  <div class="sidebar d-none d-md-block">
    <div class="w-100 d-md-none d-flex justify-content-end">
      <button class="menu btn btn-danger btn-sm rounded-5">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <h4 class="text-center my-3">Panel de Administración</h4>
    <div class="d-flex justify-content-between text-center align-items-center flex-column">
      <img src="https://www.w3schools.com/w3css/img_avatar2.png" class="img-fluid rounded-circle w-25">
      <h5 class="my-3" data-username>Nombre de usuario</h5>
      <a class="btn btn-danger mb-4" data-logout>Cerrar Sesión</a>
    </div>
    <nav>
      <ul>
        <li><a href="?view=Admin">Inicio</a></li>
        <li><a href="?view=Admin-Post">Gestionar Post</a></li>
        <li><a href="?view=Admin-Usuarios">Gestionar Usuarios</a></li>
        <li><a href="?view=Admin-Comentarios">Gestionar Comentarios</a></li>
        <li><a href="?view=Inicio">Volver al sitio</a></li>
      </ul>
    </nav>
  </div>
  <div class="main-content">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark d-block d-md-none">
      <button class="navbar-toggler menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="card content">
      <div class="card-body">
        <form id="editor" class="my-3">
          <div class="row">
            <div class="col-md-4">
              <h1>Crear Post</h1>
            </div>
            <div class="col-md-8 d-flex justify-content-between align-items-center">
              <div class="form-group w-100">
                <select name="status" class="form-control">
                  <option>Selecione un estado</option>
                  <option value="borrador" selected>Borrador</option>
                  <option value="publicado">Publicado</option>
                  <option value="privado">Privado</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary ms-3">Guardar</button>
            </div>
          </div>
          <div class="form-group my-2">
            <input type="text" class="form-control" name="titulo" placeholder="Título del post">
          </div>
          <div class="form-group my-2">
            <input type="text" class="form-control" name="imagenUrl" placeholder="Url de la imagen de portada">
          </div>
          <div class="form-group my-2">
            <textarea class="form-control" name="contenido" rows="15" placeholder="Contenido del post"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>