<style>
  /* Oculta la barra de navegación y el pie de página */
  nav.navbar,
  footer {
    display: none !important;
  }

  /* Estilos para el contenedor principal */
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 !important;
    height: 100vh;
  }

  /* Estilos para la barra lateral */
  .sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
  }

  .sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 0.5rem 1rem;
    background-color: #555;
    margin-bottom: 10px;
  }

  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
  }

  /* Estilos para el contenido principal */
  .main-content {
    flex: 1;
    padding: 1rem;
  }

  .card.content {
    overflow-y: auto;
    height: 95vh;
  }

  .main-content h1 {
    margin-top: 0;
  }

  .main-content p {
    color: #555;
  }

  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    .main-content {
      padding: 0;
    }

    .sidebar {
      width: 100%;
      position: absolute;
      z-index: 10000;
    }
  }
</style>

<!-- Contenedor principal -->
<div class="container">
  <!-- Barra lateral -->
  <div class="sidebar d-none d-md-block">
    <div class="w-100 d-md-none d-flex justify-content-end">
      <button class="menu btn btn-danger btn-sm rounded-5">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <h4 class="text-center my-3">Panel de Administración</h4>
    <div class="d-flex justify-content-between text-center align-items-center flex-column">
      <img src="https://www.w3schools.com/w3css/img_avatar2.png" class="img-fluid rounded-circle w-25">
      <h5 class="my-3" data-username>Nombre de usuario</h5>
      <a class="btn btn-danger mb-4" data-logout>Cerrar Sesión</a>
    </div>
    <nav>
      <ul>
        <li><a href="?view=Admin">Inicio</a></li>
        <li><a href="?view=Admin-Post">Gestionar Post</a></li>
        <li><a href="?view=Admin-Usuarios">Gestionar Usuarios</a></li>
        <li><a href="?view=Admin-Comentarios">Gestionar Comentarios<span></span></a></li>
        <li><a href="?view=Inicio">Volver al sitio</a></li>
      </ul>
    </nav>
  </div>
  <!-- Contenido principal -->
  <div class="main-content">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark d-block d-md-none">
      <button class="navbar-toggler menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="card content">
      <div class="card-body">
        <h1>Bienvenido al panel de administración</h1>
        <p>Aquí puedes gestionar Usuarios, Post y Comentarios.</p>

        <div class="row my-4 justify-content-center">
          <div class="col-md-6 mb-3">
            <a href="?view=Admin-Usuarios">
              <div class="card bg-info text-white text-center text-uppercase usuarios">
                <div class="card-body p-3">
                  <h4 class="card-title my-4">Usuarios</h4>
                  <div class="card-text d-flex justify-content-between gap-2 my-2 flex-wrap flex-md-nowrap">
                    <div class="w-100 bg-success border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Activos</b><br>
                      <span class="small" data-activos>0</span>
                    </div>
                    <div class="w-100 bg-danger border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Silenciados</b><br>
                      <span class="small" data-silenciados>0</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-3">
            <a href="?view=Admin-Post">
              <div class="card bg-primary text-white text-center text-uppercase posts">
                <div class="card-body p-3">
                  <h4 class="card-title my-4">Publicaciones</h4>
                  <div class="card-text d-flex justify-content-between gap-2 my-2 flex-wrap flex-md-nowrap">
                    <div class="w-100 bg-success border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Publicados</b><br>
                      <span class="small" data-publicados>0</span>
                    </div>
                    <div class="w-100 bg-danger border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Privados</b><br>
                      <span class="small" data-privados>0</span>
                    </div>
                    <div class="w-100 bg-info border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Borradores</b><br>
                      <span class="small" data-borradores>0</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-8 mb-3">
            <a href="?view=Admin-Comentarios">
              <div class="card bg-dark text-white text-center text-uppercase comentarios">
                <div class="card-body p-3">
                  <h4 class="card-title my-4">Comentarios</h4>
                  <div class="card-text d-flex justify-content-between gap-2 my-2 flex-wrap flex-md-nowrap">
                    <div class="w-100 bg-success border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Aprobados</b><br>
                      <span class="small" data-aprobados>0</span>
                    </div>
                    <div class="w-100 bg-warning border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Pendientes</b><br>
                      <span class="small" data-pendientes>0</span>
                    </div>
                    <div class="w-100 bg-danger border border-2 border-light rounded rounded-5 p-4 mb-2">
                      <b>Rechazados</b><br>
                      <span class="small" data-rechazados>0</span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
