<style>
  /* Estilos CSS para ocultar la barra de navegación y el pie de página */
  nav.navbar,
  footer {
    display: none !important;
  }

  /* Estilos para el contenedor principal */
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 !important;
    height: 100vh;
  }

  /* Estilos para la barra lateral */
  .sidebar nav ul li:has(a.active),
  .sidebar nav ul li:hover {
    background-color: #242424;
    cursor: pointer;
  }

  .sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
  }

  .sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 0.5rem 1rem;
    background-color: #555;
    margin-bottom: 10px;
  }

  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
  }

  /* Estilos para el contenido principal */
  .main-content {
    flex: 1;
    padding: 1rem;
  }

  .card.content {
    overflow-y: auto;
    height: 95vh;
  }

  .main-content h1 {
    margin-top: 0;
  }

  .main-content p {
    color: #555;
  }

  .main-content div.option {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Estilos para el formulario de creación de usuarios */
  .main-content .card .card-body div.row,
  .main-content .card .card-body div.row input {
    margin-bottom: 1rem;
  }

  #app .card .card-body div.form-group .error {
    background-color: #e0411d;
    color: #fff !important;
    padding: 0.1rem 1rem;
    margin-top: -1.1rem;
    font-size: 0.75rem;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
  }

  /* Estilos para dispositivos móviles con ancho máximo de 768px */
  @media (max-width: 768px) {
    .main-content {
      padding: 0;
    }

    .sidebar {
      width: 100%;
      position: absolute;
      z-index: 10000;
    }
  }
</style>

<div class="container">
  <div class="sidebar d-none d-md-block">
    <!-- Barra lateral -->
    <div class="w-100 d-md-none d-flex justify-content-end">
      <!-- Botón de cierre de la barra lateral (solo visible en dispositivos móviles) -->
      <button class="menu btn btn-danger btn-sm rounded-5">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <h4 class="text-center my-3">Panel de Administración</h4>
    <div class="d-flex justify-content-between text-center align-items-center flex-column">
      <img src="https://www.w3schools.com/w3css/img_avatar2.png" class="img-fluid rounded-circle w-25">
      <h5 class="my-3" data-username>Nombre de usuario</h5>
      <a class="btn btn-danger mb-4" data-logout>Cerrar Sesión</a>
    </div>
    <nav>
      <ul>
        <!-- Enlaces de navegación en la barra lateral -->
        <li><a href="?view=Admin">Inicio</a></li>
        <li><a href="?view=Admin-Post">Gestionar Post</a></li>
        <li><a href="?view=Admin-Usuarios">Gestionar Usuarios</a></li>
        <li><a href="?view=Admin-Comentarios">Gestionar Comentarios<span></span></a></li>
        <li><a href="?view=Inicio">Volver al sitio</a></li>
      </ul>
    </nav>
  </div>
  <div class="main-content">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark d-block d-md-none">
      <!-- Barra de navegación (solo visible en dispositivos móviles) -->
      <button class="navbar-toggler menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="card content">
      <div class="card-body">
        <form id="editor" class="my-3">
          <!-- Formulario de creación de usuario -->
          <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4 mb-md-2">
            <h1>Crear Usuario</h1>
            <div class="d-flex justify-content-end align-items-center">
              <button type="submit" class="btn btn-primary ms-3">Guardar</button>
              <a class="btn btn-danger ms-3" href="?view=Admin-Usuarios">Cancelar</a>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="firstName">Nombre:</label>
              <input type="text" class="form-control rounded-input" name="firstName" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Apellido:</label>
              <input type="text" class="form-control rounded-input" name="lastName" placeholder="Ingresa tu apellido">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email">Correo electrónico:</label>
              <input type="email" class="form-control rounded-input" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="form-group col-md-6">
              <label for="username">Usuario:</label>
              <input type="text" class="form-control rounded-input" name="username" placeholder="Ingresa tu usuario">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="password">Nueva contraseña:</label>
              <input type="password" class="form-control rounded-input" name="password"
                placeholder="Ingresa tu nueva contraseña">
            </div>
            <div class="form-group col-md-6">
              <label for="passrepeat">Verificar nueva contraseña:</label>
              <input type="password" class="form-control rounded-input" name="passrepeat"
                placeholder="Verifica tu nueva contraseña">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="rol">Rol:</label>
              <select class="form-control rounded-input" name="rol">
                <option value="admin">Administrador</option>
                <option value="usuario" selected>Usuario</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="status">Estado:</label>
              <select class="form-control rounded-input" name="status">
                <option value="activo" selected>Activo</option>
                <option value="silenciado">Silenciado</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
