<div id="slider">
  <div>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/017.webp">
    <span>
      <h2>Titulo</h2>
      <p>Historia</p>
    </span>
  </div>
  <div>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp">
    <span>
      <h2>Titulo 2</h2>
      <p>Historia 2</p>
    </span>
  </div>
  <div>
    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp">
    <span>
      <h2>Titulo 3</h2>
      <p>Historia 3</p>
    </span>
  </div>
</div>

<style>
  .slider .slider-slides {
    height: 400px;
  }

  .slider .slider-slides .slider-slide div .caption {
    z-index: 0;
  }

  .mt--5 {
    margin-top: -4rem !important;
    z-index: 99;
  }

  .mt--5 .row {
    height: 80vh;
  }
</style>

<div class="container mt--5">
  <div class="row">
    <div class="col-md-12 card px-5 pt-5">
      <h1>Inicio</h1>
    </div>
  </div>
</div>