<style>
  /* Estilos para el contenedor principal */
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/fondito.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* Estilos para el grupo de formulario que no es el último hijo */
  #app .card .card-body div.form-group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  /* Estilos para el mensaje de error en el grupo de formulario */
  #app .card .card-body div.form-group .error {
    color: #ff3000;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  /* Estilos para el mensaje de error en el cuerpo de la tarjeta */
  #app .card .card-body .error.form-message {
    color: #ff3000;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
</style>

<!-- Contenedor principal -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card rounded-lg">
        <div class="card-body">
          <h5 class="card-title text-center">Iniciar sesión</h5>
          <!-- Formulario de inicio de sesión -->
          <form id="inicio">
            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <input type="text" class="form-control rounded-pill" name="username" placeholder="Usuario">
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control rounded-pill" name="password" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-success btn-block rounded-pill">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
