<style>
  .profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .activity-box {
    border: 1px solid #cccccc00;
    border-radius: 5px;
    padding: 10px;
  }

  .rounded-input {
    border-radius: 20px;
  }

  .rounded-button {
    border-radius: 20px;
  }

  #app .card .card-body div.form-group .error {
    color: #ff3000;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }
</style>
<!-- Contenido principal -->
<div class="container my-4 profile-container card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center">
          <div class="my-4 d-flex justify-content-center align-items-center flex-column">
            <img src="https://www.w3schools.com/w3css/img_avatar2.png" alt="Foto de perfil" class="profile-picture">
            <button type="button" class="btn btn-primary btn-block mt-3">Cambiar foto de perfil</button>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="activity-box">
          <h5>Actividad del Usuario</h5>
          <ul class="list-group">
            <li class="list-group-item">Número de posts realizados: <span id="numPosts">0</span></li>
            <li class="list-group-item">Número de comentarios: <span id="numComments">0</span></li>
            <li class="list-group-item">Fecha de registro: <span id="registrationDate">01/01/2023</span></li>
            <li class="list-group-item">Última vez conectado: <span id="lastLoginDate">Hoy</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <h1>Perfil de Usuario</h1>
        <form data-user>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="firstName">Nombre:</label>
              <input type="text" class="form-control rounded-input" name="firstName" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Apellido:</label>
              <input type="text" class="form-control rounded-input" name="lastName" placeholder="Ingresa tu apellido">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="email">Correo electrónico:</label>
              <input type="email" class="form-control rounded-input" name="email"
                placeholder="Ingresa tu correo electrónico">
            </div>
            <div class="form-group col-md-6">
              <label for="username">Usuario:</label>
              <input type="text" class="form-control rounded-input" name="username" placeholder="Ingresa tu usuario">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="currentPassword">Contraseña actual:</label>
              <input type="password" class="form-control rounded-input" name="currentPassword"
                placeholder="Ingresa tu contraseña actual">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Nueva contraseña:</label>
              <input type="password" class="form-control rounded-input" name="password"
                placeholder="Ingresa tu nueva contraseña">
            </div>
            <div class="form-group offset-md-6 col-md-6">
              <label for="confirmPassword">Verificar nueva contraseña:</label>
              <input type="password" class="form-control rounded-input" name="confirmPassword"
                placeholder="Verifica tu nueva contraseña">
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary rounded-button">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>