<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>registro</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="container">
    
  <div class="row justify-content-center">
  <div class="col-md-6">
  <div class="card rounded-lg">
  <div class="card-body">
  <h5 class="card-title text-center">Registrarse</h5>
  <form>
    <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" class="form-control rounded-pill" id="email" placeholder="Ingrese su correo electrónico">
        </div>

    <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" class="form-control rounded-pill" id="username" placeholder="Ingrese su nombre de usuario">
      </div>
  
  <div class="form-group">
  <label for="password">Contraseña</label>
  <input type="password" class="form-control rounded-pill" id="password" placeholder="Ingrese su contraseña">
  </div>
  <button type="submit" class="btn btn-danger btn-block rounded-pill">Iniciar sesión</button>
  </form>
    </div>
    </div>
    </div>
    </div>
    </div>

  
</body>
</html>

