<style>
  #app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("./assets/525105-Among-Trees.png");
  }

  #app .card .card-body div.form-group:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  #app .card .card-body div.form-group .error {
    color: #ff3000;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  #app .card .card-body .error.form-message {
    color: #ff3000;
    margin-top: -1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
</style>


<div class="container">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card rounded-lg">
        <div class="card-body">
          <h5 class="card-title text-center">Registrarse</h5>
          <form id="registro">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control rounded-pill" name="name" placeholder="Ingrese su nombre completo">
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input type="email" class="form-control rounded-pill" name="email"
                placeholder="Ingrese su correo electrónico">
            </div>

            <div class="form-group">
              <label for="username">Nombre de usuario</label>
              <input type="text" class="form-control rounded-pill" name="username"
                placeholder="Ingrese su nombre de usuario">
            </div>

            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control rounded-pill" name="password"
                placeholder="Ingrese su contraseña">
            </div>
            <div class="form-group">
              <label for="password2">Comprobar contraseña</label>
              <input type="password" class="form-control rounded-pill" name="passrepeat"
                placeholder="Repetir su contraseña">
            </div>
            <button type="submit" class="btn btn-danger btn-block rounded-pill">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>